/* line 2, ../sass/_generals.scss */
body {
  margin: 0px;
  background-color: #209287;
}

/* line 9, ../sass/_generals.scss */
main {
  position: relative;
}

/* line 14, ../sass/_generals.scss */
input {
  display: inline-block;
  width: 90%;
  border-radius: 16px;
  border: solid 1px #00000085;
  margin: 8px 0px;
  padding: 8px 16px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

/* line 25, ../sass/_generals.scss */
input.invalid {
  border: 2px solid orangered !important;
}

/* line 29, ../sass/_generals.scss */
input.valid {
  border: 2px solid green !important;
}

/* line 33, ../sass/_generals.scss */
.d-none {
  opacity: 0 !important;
}

/* line 2, ../sass/login.scss */
.login-shape {
  position: absolute;
  width: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

/* line 8, ../sass/login.scss */
.login-text {
  left: 0;
  top: 5rem;
  padding: 1rem 2rem 1rem 6rem;
  border-radius: 0 16rem 16rem 0;
  background-color: #8bb757;
  font-size: 24px;
  font-style: italic;
}
/* line 17, ../sass/login.scss */
.login-text h1 {
  color: white;
}

/* line 22, ../sass/login.scss */
.login-btn {
  display: inline-block;
  background-color: #e8b210;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 24px;
  position: absolute;
  cursor: pointer;
  right: 3rem;
  top: 8.9rem;
}
/* line 33, ../sass/login.scss */
.login-btn a {
  text-decoration: none;
}
/* line 37, ../sass/login.scss */
.login-btn p {
  color: white;
  margin: 0px;
  padding: 12px 32px;
  font-style: italic;
  font-size: 16px;
}

/* line 46, ../sass/login.scss */
.login-error {
  display: inline-block;
  background-color: #FF5722;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 24px 0 0 24px;
  position: absolute;
  right: 0;
  top: -25px;
  opacity: 0;
  transition: opacity 1s;
}
/* line 58, ../sass/login.scss */
.login-error p {
  color: white;
  margin: 0px;
  padding: 7px 24px;
  font-style: italic;
  font-size: 16px;
}

/* line 67, ../sass/login.scss */
.login-inputs {
  right: 0;
  top: 22rem;
  padding: 2rem 2rem 2rem 6rem;
  border-radius: 16rem 0 0 16rem;
  background-color: #85be87;
}
/* line 77, ../sass/login.scss */
.login-inputs input {
  font-style: italic;
}
/* line 81, ../sass/login.scss */
.login-inputs .animate {
  width: 70%;
  transition-property: width, transform;
  transition-duration: 1s, .15s;
}
/* line 86, ../sass/login.scss */
.login-inputs .animate:focus {
  width: 90%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* line 4, ../sass/checklist.scss */
  .card {
    width: 90%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* line 9, ../sass/checklist.scss */
  .card {
    width: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* line 15, ../sass/checklist.scss */
  .card {
    width: 34%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* line 20, ../sass/checklist.scss */
  .card {
    width: 38%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* line 25, ../sass/checklist.scss */
  .card {
    width: 24%;
  }
}
/* line 29, ../sass/checklist.scss */
.content {
  background-color: #8fdb9e;
  margin: 1rem;
  position: absolute;
  border-radius: 8px;
  top: 8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* line 41, ../sass/checklist.scss */
.card {
  margin: 1rem;
  padding: 2rem;
  background-color: azure;
  border-radius: 24px;
  border: solid 1px white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: border 1s;
}
/* line 51, ../sass/checklist.scss */
.card .card-date {
  position: absolute;
  display: inline-block;
  top: -1px;
  right: -1px;
}
/* line 57, ../sass/checklist.scss */
.card .card-date p {
  background-color: #6b74ab;
  border-radius: 0px 18px 0 24px;
  color: white;
  margin: 0px;
  padding: 12px;
}
/* line 67, ../sass/checklist.scss */
.card .body-card img {
  width: 100%;
  border-radius: 8px;
}
/* line 75, ../sass/checklist.scss */
.card .check {
  position: absolute;
  right: 8px;
  bottom: 24px;
}
/* line 80, ../sass/checklist.scss */
.card .check input {
  display: none;
}
/* line 83, ../sass/checklist.scss */
.card .check input:checked + label {
  background: #782486;
}
/* line 87, ../sass/checklist.scss */
.card .check label {
  background-color: #9E9E9E;
  padding: 1rem;
  border-radius: 12px 12px 32px 12px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}
/* line 96, ../sass/checklist.scss */
.card .check label:hover {
  opacity: 0.7;
}

/* line 105, ../sass/checklist.scss */
.card.checked {
  border: solid 8px #6b74ab;
}

/* line 111, ../sass/checklist.scss */
.checklist-title {
  padding: 2rem;
  background-color: #4DB6AC;
}
/* line 115, ../sass/checklist.scss */
.checklist-title .add-btn {
  position: absolute;
  background-color: #004D40;
  display: inline-block;
  padding: 2rem;
  border-radius: 50%;
  top: 42px;
  color: white;
  right: 3rem;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}
/* line 127, ../sass/checklist.scss */
.checklist-title .add-btn:hover {
  background-color: #007965;
}
/* line 131, ../sass/checklist.scss */
.checklist-title h1 {
  color: white;
  margin: 1rem 2rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 8px;
  background-color: #004D40;
}
