
.content{
    background-color: $content-color;
    margin: 1rem;
    position: absolute;
    border-radius: 8px;
    top:8rem;

}

.card{
    margin: 1rem;
    padding: 2rem;
    background-color: azure;
    border-radius: 32px;
    position: relative;

    .check{
        position: absolute;
        right: 8px;
        bottom: 24px;

        input{
            display: none;

            &:checked + label{
                background: #782486;    
                // span{
                //     content: "°";
                // }
            }
        }
        label{
            background-color: #9E9E9E;
            padding: 1rem;
            border-radius: 12px 12px 32px 12px;           
            overflow: hidden;
            cursor: pointer;
            box-shadow: 0 3px 3px rgba(0,0,0,.5);

            &:hover {
                opacity: 0.7;
            }

            span{
                color: white;
                // content: "+";
            }
        }
    }

    // .check{
    //     position: absolute;
    //     right: 8px;
    //     bottom: 24px;

    //     input{
    //       display: none;

    //       &:checked + label{
    //         background: #5cb85c;
    //         color: white;

    //         span{
    //           color: white;
    //         }
    //       }
    //     }

    //     label{

    //       position: relative;
    //       background: #fff;
    //       border-radius: 8%;
    //       text-align: center;
    //       overflow: hidden;
    //       cursor: pointer;
    //       width:4rem;
    //       height:4rem;
    //       line-height:4rem;
    //       box-shadow: 0 3px 3px rgba(0,0,0,.5);

    //       &:hover {
    //         background: #f0f0f0;
    //       }
    //     }
    //   }
}