
.login-shape{
    position: absolute;
    width: 50%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);  
}

.login-text{
    left: 0;
    top:5rem;
    padding: 1rem 2rem 1rem 6rem;
    border-radius: 0 16rem 16rem 0;
    background-color: $login-bg-text-color;
    font-size: 24px;
    font-style: italic;

    h1{
        color: white;
    }
}

.login-inputs{
    // position: absolute;
    // width: 50%;
    right: 0;
    top: 22rem;
    padding: 2rem 2rem 2rem 6rem;
    border-radius: 16rem 0 0 16rem;
    // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    background-color: $login-field-color;

    input{
        font-style: italic; 
    }

    .animate{
        width: 70%;
        transition-property: border-radius, width;
        transition-duration: 1s, 1s;
         
        &:focus{
            border-radius: 8px;
            width: 90%;

            
        }
    }
}