<li class="card">
  <div class="card-title"><h5>comic # 1</h5></div>
  <img class="card-img" src="http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg" alt="">
  <ul class="card-calification">
    <li class="like">
      <div class="score">
          <p>1</p>
      </div>
      <img class="hand" src="../../../assets/img/like.png" alt="">
    </li>
    <li class="dislike">
        <div class="score">
          <p>1</p>
        </div>
        <img class="hand" src="../../../assets/img/like.png" alt="">    
    </li>
  </ul>
</li>