

.pokemon-card{
    margin: 4rem 1rem 0rem 1rem;
    text-align: center;
   
    .pokemon-header{
        
        height: 12vh;
        position: relative;
        border-radius: 0 12px 0 0;
        background: white;
        display: inline-block;
        width: 100%;

        &:before{
            position: absolute;
            content: "";
            width: 45%;
            height: 41px;
            background: white;
            left: 0px;
            top: -41px;
            border-radius: 12px 12px 0 0;
        }
        
        .pokemon-tag{
            position: absolute;
            height: 41px;
            width: 45%;
            left: 0px;
            top: -41px;
            text-align: center;

            .pokemon-name{
            
                margin: 14px;
                word-wrap: break-word;

            }
        }

        .pokemon{
            position: absolute;
            width: 120px;
            left: 50%;
            top: -106px;
        }

        // .type{
        //     position: absolute;
        //     width: 140px;
        // }

    }

    .pokemon-stats{
        
        position: relative;
        border-radius: 0 0 12px 12px;
        background: white;
        display: inline-block;
        width: 100%;

        .stats-container{
            padding: 0;
            list-style: none;

            .stats{
                display: inline-block;
                width: 25%;
                margin: 12px;
                padding: 15px;
                border-radius: 12px;
                position: relative;
             
                div{
                 
                    p{
                        margin: 0px;
                    }

                    @media only screen and (max-width: 600px) {
                        width: 40%;
                        display: inline-block;
                    }
                }
                .stat-name{
                    position: relative;
                    margin: 10px 0;
                   
                    @media only screen and (max-width: 600px) {
                        margin: 0px;
                    }
                }
                .stat-value{
                    font-weight: bolder;
                }

                @media only screen and (max-width: 600px) {
                    width: 90%;
                    padding: 6px;
                    margin: 6px;
                    border: none;
                }
            }
        }
        @media only screen and (max-width: 600px) {
            margin-top: -4px;
        }
    }
    @media only screen and (min-width: 600px) {
        .pokemon-stats{
            width: 45%;
            vertical-align: top;
            border-radius: 12px;
            margin-left: 2rem;

        }
        .pokemon-header{
            width: 45%;
            vertical-align: top;
            border-radius: 0 12px 12px 12px;
            height:55vh;

            .pokemon{
                left: 32%;
                margin-top: 2rem;
                top:0;
            }

        }
    }
   
}