@mixin newFont($fontFamily, $fileName){
    $path: '../fonts/' + $fileName+ '/'+ $fileName;
    @font-face {
        font-family: $fontFamily;
        src: url($path + '.eot');
        src: url($path +'.eot?#iefix') format('embedded-opentype'),
             url($path +'.woff') format('woff'),
             url($path +'.ttf') format('truetype'),
             url($path +'.svg#'+$fontFamily) format('svg');
        font-weight: normal;
        font-style: normal;
    }
}
@include newFont('PokemonClassic','Pokemon-Classic');