<div class="container">
  <div class="search">
      <input type="text">
  </div>
  <div class="cards-container">
    <ul>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
        <li>hola</li>
    </ul>
  </div>
</div>
