.container{ 
    position: relative;
   .cards-container{
        background: #f7e9e9;
        height: calc(100vh - 6rem - 82px);
        position: relative;
        margin: 6rem 1rem 0 1rem;
        border: 2px solid black;
        border-bottom: none;
        overflow-y: auto;
        
        ul{
            list-style: none;
            padding: 0;
            margin: 0 1rem 0 1rem;
            text-align: center;
        }

        @media only screen and (min-width: 768px) {
            & {margin: 6rem 4rem 0 4rem;}
        } 
    }
    .search{
        position: absolute;
        top: calc(-44.19px/2);
        left: calc(50% - (242.19px/2));

        input{
            border: 2px solid black;
            padding: 0.6rem;
            font-size: 18px;
            text-align: center;
            position: relative;
            border-radius: 30px;

            &:focus{
                outline: none;
            }

        }

        &::before{
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
            border: 22px solid;
            border-color: black transparent transparent black;
            top: 20px;
            left: 20px;
        }

        &::after{
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
            border: 19.5px solid;
            border-color: white transparent transparent white;
            top: 20px;
            left: 22px;
            border-left: 19.5px;
            top: 40px;
        }
    }
}